.canvas {
  width: 100%;
  height: 100vh;
}

.model {
  width: 100%;
  height: 100%;
}

.background {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.psp-container {
  position: relative;
  width: 960px;
  height: 544px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
}

.interface-overlay {
  position: absolute;
  top: 30%;
  left: 20.5%;
  width: 566px;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
@font-face {
  font-family: NewRodin;
  src: url(/public/fonts/FOT-NewRodin.otf), format('opentype');
  font-style: normal;
}

@font-face {
  font-family: NewRodinL;
  src: url(/public/fonts/FOT-NewRodin-L.otf), format('opentype');
  font-style: normal;
}

@font-face {
  font-family: NewRodinM;
  src: url(/public/fonts/FOT-NewRodin-M.otf), format('opentype');
  font-style: normal;
}

* {
  font-family: NewRodinL;
  font-weight: 800;
}
